@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rebond Grotesque';
    font-weight: 400;
    src: url("/fonts/RebondGrotesqueTRIAL-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: 'Rebond Grotesque';
    font-weight: 500;
    src: url("/fonts/RebondGrotesqueTRIAL-Medium.otf") format("opentype");
  }
  @font-face {
    font-family: 'Rebond Grotesque';
    font-weight: 600;
    src: url("/fonts/RebondGrotesqueTRIAL-Semibold.otf") format("opentype");
  }
  @font-face {
    font-family: 'Rebond Grotesque';
    font-weight: 700;
    src: url("/fonts/RebondGrotesqueTRIAL-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: 'Rebond Grotesque';
    font-weight: 800;
    src: url("/fonts/RebondGrotesqueTRIAL-ExtraBold.otf") format("opentype");
  }
}

body {
  scroll-behavior: smooth;
  font-family: 'Rebond Grotesque', sans-serif;
}

[type='text'], [type='password'] {
  appearance: none;
  background-color: rgba(217, 232, 247, 0.08) !important;
  border-color: #d6ebfd30;
  border-width: 1px !important;
  border-radius: .375rem ;
  padding: 0.5rem 0.75rem;
  font-size: .875rem !important ;
  line-height: 1.5rem;
  max-height: 2.5rem;
  --tw-shadow: unset ;
}

[type='text']:focus, [type='password']:focus {
  border-color: #d6ebfd30 !important;
  outline-width: 2px !important;
  outline-color: #d6ebfd30 !important;
  outline-offset: unset !important;
  transition: border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out !important;
}

/* .effect-font-hero {
    -webkit-text-stroke: .4px #ffffff80;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px -1px 0 hsla(0, 0%, 100%, .2), 1px 1px 0 rgba(0, 0, 0, .1);
} */
.effect-font-gradient {
    background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.pricing-card-btn{
  background: radial-gradient(89.06% 89.06% at 50% 100%, #ffffff0a, #fff0 48.41%), #ffffff0d;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 99px;
  min-width: 124px;
  padding: 4px 12px;
  text-align: center;
  transition: all .2s ease;
  white-space: nowrap;
} 

.pricing-card-btn:hover {
  background: radial-gradient(89.06% 89.06% at 50% 100%, #ffffff12, #fff0 48.41%), #ffffff14;
}

.pricing-card-price {
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffff80, #fff0), #713dff;
  border-radius: 99px;
  min-width: 124px;
  padding: 4px 12px;
  text-align: center;
  transition: all .2s ease;
  
}

 .pricing-card-price:hover {
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffffcb, #fff0), #713dff;
} 

.pricing-plan-switcher{
  -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: radial-gradient(89.06% 89.06% at 50% 100%, #ffffff0a, #fff0 48.41%), #ffffff14;
    border: 1px solid rgba(255, 255, 255, .06);
}

.pricing-plan-switcher-active{
  background: radial-gradient(89.06% 89.06% at 50% 100%, #ffffff0a, #fff0 48.41%), #ffffff14;
    border: 1px solid rgba(169, 163, 194, .0549019608);
}

.pricing-plan-switcher-active span{
  background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
@keyframes subtle-scale-1 {
  0%, 100% {
    transform: scale(1) rotate(45deg);
  }
  50% {
    transform: scale(1.3) rotate(45deg);
  }
}

.scale-animation-1 {
  animation: subtle-scale-1 1.5s infinite ease-in-out;
}

@keyframes subtle-scale-2 {
  0%, 100% {
    transform: scale(1) rotate(12deg);
  }
  50% {
    transform: scale(1.4) rotate(12deg);
  }
}

.scale-animation-2 {
  animation: subtle-scale-2 1.8s infinite ease-in-out;
}

@keyframes subtle-scale-3 {
  0%, 100% {
    transform: scale(1) rotate(60deg);
  }
  50% {
    transform: scale(1.5) rotate(60deg);
  }
}

.scale-animation-3 {
  animation: subtle-scale-3 1.3s infinite ease-in-out;
}
/* .pricing-card-price {
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffff80, #fff0), radial-gradient(198.77% 172.22% at 55.56% 112.78%, #887dff80, #887dff00), #713dff;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 99px;
  min-width: 124px;
  padding: 4px 12px;
  text-align: center;
  transition: all .2s ease;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
} */

/* .pricing-card-price:hover {
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #fffc, #fff0), radial-gradient(198.77% 172.22% at 55.56% 112.78%, #887dff80, #887dff00), #713dff;
} */

/* .pricing-card-price::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #fffc, #fff0), 
              radial-gradient(198.77% 172.22% at 55.56% 112.78%, #887dff80, #887dff00), 
              #713dff;
  opacity: 0;
  transition: opacity 0.15s ease;
  border-radius: inherit;
  z-index: -1;
}

.pricing-card-price:hover::before {
  opacity: 1;
} */


.pricing-card-btn-text{
  background: linear-gradient(180deg, #fffffff2 22.92%, #fffc 81.25%);
  -webkit-background-clip: text;
  background-clip: text;
  font-feature-settings: "cv06" on, "liga" off, "calt" off;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.14px;
  line-height: 24px;
  position: relative;
  -webkit-text-fill-color: transparent;
  z-index: 8;
}

.pricing-card-btn-amount{
  background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-feature-settings: "dlig" on, "cv06" on, "liga" off, "calt" off;
    font-weight: 500;
    letter-spacing: -.56px;
    line-height: 56px;
}


.hr-fade{
  height: 1px;
  margin: 1px 0;
  background: linear-gradient(270deg, #3d354e00 .2%, #30273a 45.39%, #30273a 53.54%, #3d354e00 110.06%);
 
  border: 0;
}
.pricing-card-inner{
  background: linear-gradient(180deg, #0b021700, #16092a), #0a0118;
}
.pricing-card-top-div{
  background: radial-gradient(89.06% 89.06% at 50% 100%, #ffffff0a, #fff0 48.41%);
}
.pricing-card-popular-tag {
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffff80, #fff0), radial-gradient(198.77% 172.22% at 55.56% 112.78%, #887dff80, #887dff00), #713dff;
  border-radius: 16px 16px 0 0;
  height: 50px;
  left: 0;
  position: absolute;
  top: -32px;
  width: 338px;
  left: -1px;
  z-index: 1;
}
.pricing-card-popular-tag-text {
  background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  top: 8px;
  transform: translate(-50%);
  white-space: nowrap;
  font-size: 12px;
    font-weight: 500;
    letter-spacing: .08em;
    line-height: 16px;
}
.best-value-wrapper{
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffff80, #fff0), radial-gradient(198.77% 172.22% at 55.56% 112.78%, #887dff80, #887dff00), #713dff !important;
  ;
}
/* 🔹 Outer Wrapper for the Border */
.gradient-border-div {
  position: absolute;
  inset: -1px; /* Expands beyond the card */
  pointer-events: none;
  border-radius: 1rem;
}

/* 🔹 Apply the Gradient Border Using ::before */
.gradient-border-div::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px; /* Controls the thickness of the border */
  background: linear-gradient(180deg, #a9a3c233, #a9a3c20c); /* Your exact gradient */
  
  
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}
@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-rebond {
  font-family: "Rebond Grotesque", sans-serif;
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;

}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;

}

.cl-providerIcon__github{
  filter: invert(1);
}

.cl-dividerLine{
  height: 1px;
  background-color: #d6ebfd30;
}

.cl-internal-1w172ot{
  background-color: #ddeaf814;
  border-radius: 6px !important;
  border-color: #d6ebfd30 !important;
  border-width: 1px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cl-internal-1w172ot:hover{
  background-color: #d3edf81d;
}

.cl-internal-15di0mo{
  color: #f1f7feb5;
  font-weight: 600;
  font-size: .875rem;
}

.cl-internal-2gzuzc{
  width: 1.125rem;
}

.cl-internal-17wmim4{
  font-size: 1.25rem;
  font-weight: 700;
}

.cl-internal-6slk2t{
  font-size: 1rem;
  line-height: 1.5rem;
}

.cl-internal-oqzvix{
  font-size: .75rem;
  color: #f1f7feb5;
  text-transform: uppercase;
}

.cl-internal-1sbbqks{
  color: #f1f7feb5;
  font-size: .875rem;
  line-height: 1.25rem;
}

.cl-internal-1l5nvfx{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  max-height: 2.5rem !important;
  font-size: .875rem !important;
  border-radius: .375rem !important;
}

.cl-internal-1l5nvfx:focus{
  outline-width: 2px !important;
}

.cl-internal-1l5nvfx[data-variant="default"]{
  border-width: 1px !important;
  border-color: #d6ebfd30 !important;
}

.cl-internal-1l5nvfx[data-variant="default"]:focus{
  border-width: 1px !important;
  border-color: #d6ebfd30 !important;
  outline-width: 2px !important;
  outline-color: #d6ebfd30 !important;
  outline-offset: unset !important;
  transition: border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out !important;
}

.cl-internal-b6u84v{
  background-color: #fff;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cl-internal-1dauvpw{
  display: none;
}

.cl-internal-2iusy0{
  font-size: .875rem;
  font-weight: 600;
}

.cl-internal-b6u84v:hover{
  background-color: rgba(255,255,255,0.9);
  transition: background-color 0.2s ease-in-out;
}

.cl-internal-b6u84v[data-variant="solid"][data-color="primary"] {
  box-shadow: none;
}

.cl-internal-b6u84v[data-variant="solid"][data-color="primary"]:focus {
  box-shadow: none;
}

.cl-internal-1c4ikgf{
  opacity: 1;
}

.cl-internal-laksia{
  font-size: 1rem;
}

.cl-internal-hrrh4y{
  font-size: 1rem;
}

.cl-internal-d26w8c{
  width: 32rem;
}

.cl-logoBox{
  height: 60px;
}

.cl-loading{
  color: #fff;
}

.cl-internal-1c7up6r{
  align-items: flex-start !important;
}

.cl-internal-q4tv6p{
  padding: 1rem 2rem;
}

.cl-formButtonPrimary.cl-button{
  color: #000;
}

.cl-internal-r26unt{
  font-size: 1rem;
  line-height: 1.5rem;
}

.cl-internal-1225cty[data-variant="default"]{
  box-shadow: none;
  border-width: 1px;
  border-color: #d6ebfd30;
}

.cl-internal-1225cty{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  max-height: 2.5rem;
}
.cl-internal-1g3zs5z{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  max-height: 2.5rem;
}

.cl-internal-1g3zs5z[data-variant="default"]{
  box-shadow: none;
  border-width: 1px;
  border-color: #d6ebfd30;
}

.cl-internal-1n6yo8n{
  color: #fff;
}

.cl-internal-1n6yo8n:focus{
  box-shadow: none;
}

.cl-internal-1n6yo8n:hover{
  color: rgba(255,255,255,0.9)
}

.cl-internal-1o11va6:hover{
  color: rgba(255,255,255,0.9)
}

.cl-internal-u71u4c{
  background-color: #000;
}

.cl-internal-pnnc37{
  background-color: #111010;
}

.cl-internal-141wpcl{
  opacity: 0.9;
  color: #fff;
}

.cl-internal-1nn89fl{
  opacity: 0.9;
  color: #fff;
}

.cl-internal-zpbffa{
  border-color: #565761;
  border-width: 1px;
  color: rgba(255,255,255,0.9);
}

.cl-internal-1x918gh{
  color: rgba(255,255,255,0.9);
}

.cl-internal-4b57d1[data-variant="outline"]{
  border-width: 1px;
  border-color: #565761;
  color: rgba(255,255,255,0.9);
}

.cl-internal-1ritza{
  background-color: #111010;
}

.cl-internal-qn9szp{
  background-color: #111010;
}

.cl-internal-1pmoz52{
  color: #fff;
}

.cl-internal-1g00631[data-variant="default"]:focus{
  border-width: 1px !important;
  border-color: #d6ebfd30 !important;
  outline-width: 2px !important;
  outline-color: #d6ebfd30 !important;
  outline-offset: unset !important;
  transition: border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out !important;
}

.cl-internal-1hp5nqm{
  display: none !important;
}

.scheme-title{
  background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
  margin-top: 20px;
}

.link-color{
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffff80, #fff0), radial-gradient(198.77% 172.22% at 55.56% 112.78%, #887dff80, #887dff00), #713dff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: all .2s ease;
}

.cl-internal-1u8qly9{
  color: inherit !important;
}

.cl-internal-11p3n5g{
  color: unset;
}

.cl-internal-1i0v6m5{
  color: #fff;
}

.cl-internal-1i0v6m5:hover{
  color: rgba(255,255,255,0.62);
}

.cl-internal-13u79ez{
  background: none !important;
}

.cl-internal-d5dzke{
  background-color: #111010;
  border-radius: 0.75rem;
}
.cl-internal-phfxlr{
  background-color: #111010
}
.cl-internal-vwzuz5{
  background-color: #111010 !important;
  background: none !important;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.cl-internal-u71u4c{
  background-color: #080808 !important;
  border-top-right-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
  border-radius: 0px;
}

.cl-internal-phfxlr{
  border-radius: 0.75rem !important;
}

.cl-modalContent{
  font-family: "Inter", sans-serif;
}

.cl-internal-a39y5c{
  color: white;
  border-color: #565761;
    border-width: 1px !important;
}

.button-gradient{
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffff80, #fff0), #713dff;
    text-align: center;
    transition: all .2s ease;
}

.button-gradient:hover {
  background: radial-gradient(86.86% 86.86% at 50% 111.67%, #ffffffcb, #fff0), #713dff;
} 

.button-txt{
  background: linear-gradient(180deg, #fffffff2 22.92%, #fffc 81.25%);
  -webkit-background-clip: text;
  background-clip: text;
  font-feature-settings: "cv06" on, "liga" off, "calt" off;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.14px;

  position: relative;
  -webkit-text-fill-color: transparent;
  z-index: 8;
}

.background-backdrop {
  background: radial-gradient(47.84% 61.25% at 50% 0%, #713dff1f, #713dff00), 
              radial-gradient(24.45% 22.45% at 50% 0%, #8566ff0a, #8566ff00 100%, #8566ff00), 
              radial-gradient(38.5% 24.47% at 50% 11.59%, #8566ff14, #8566ff00);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.hero-graph{
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.main-hero-blue-orb{
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.feature-logo{
  width: 124px;
    height: auto;
    position: absolute;
    transform: translate(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    box-shadow: 0 0 16px 4px #0a011833;
    border-radius: 16px;
}


.pricing-grid-fade{
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.real-time-div {
  
  border-radius: 12px;
  height: 360px;
  width: 552px;
  z-index: 5;
  position: relative; /* changed */
}

.real-time-div-inner {
  background-color: #0a0118;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%; /* added */
  width: 100%;   /* added */
  position: relative; /* changed */
  z-index: 6; /* updated */
}


.real-time-light2 {
  pointer-events: none;
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
}

.real-time-light1{
  pointer-events: none;
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
}

.real-time-light3 {
  pointer-events: none;
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.real-time-chart{
  width: 100%;
    height: auto;
    position: absolute;
    top: 62px;
}

.real-time-wireframe{
  left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 48px;
    height: 132px;
    width: 286px;
    z-index: 7;
}

.real-time-grid{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: auto;
    mix-blend-mode: overlay;
    opacity: .6;
}

.real-time-icon1{
  position: absolute;
  top: 56px;
  left: 99px;
  z-index: 7;
}

.real-time-icon1-outer{
  width: 52px;
    display: flex
;
    align-self: center;
    justify-content: center;
    height: 52px;
    background: radial-gradient(72.06% 98.28% at 50% 89.22%, #887dff29, #887dff00), #0b0217;
    border: 1px solid rgba(133, 102, 255, .24);
    border-radius: 99px;
    box-shadow: 0 4px 4px #00000040;
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.5px);
    padding: 6px;
}

.real-time-icon1-inner{
  width: 40px;
  height: 40px;
  display: flex
;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 1px solid rgba(133, 102, 255, .24);
  background: radial-gradient(72.06% 98.28% at 50% 89.22%, #887dff29, #887dff00), #0b0217;
  box-shadow: 0 4px 4px #00000040;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.real-time-icon2{
  position: absolute;
    top: 112px;
    right: 99px;
    z-index: 7;
}

.real-time-icon2-outer{
  width: 52px;
  display: flex
;
  align-self: center;
  justify-content: center;
  height: 52px;
  background: radial-gradient(72.06% 98.28% at 50% 89.22%, #887dff29, #887dff00), #0b0217;
  border: 1px solid rgba(133, 102, 255, .24);
  border-radius: 99px;
  box-shadow: 0 4px 4px #00000040;
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  padding: 6px;
}

.real-time-icon2-inner{
  width: 40px;
  height: 40px;
  display: flex
;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 1px solid rgba(133, 102, 255, .24);
  background: radial-gradient(72.06% 98.28% at 50% 89.22%, #887dff29, #887dff00), #0b0217;
  box-shadow: 0 4px 4px #00000040;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.real-time-content{
  position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    z-index: 5;
}

.real-time-content-heading{

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -.36px;
    background: linear-gradient(180deg, #fff 22.5%, rgba(255, 255, 255, .7) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 6px;
}

.real-time-content-description{
  color: #9b96b0;
  font-size: 14px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 24px;
}


.oobe-div{
  width: 360px;
  height: 404px;
  background: #0a0118;
  position: relative;
  border-radius: 16px;
}

.oobe-div-inner{
  border-radius: 12px;
    border: 1px solid rgba(169, 163, 194, .24);
    box-shadow: 0 0 32px 8px #bab3ff0a inset;
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.5px);
    background-color: #0a0118;
    border-radius: 16px;
    display: flex
;
    flex-direction: column;
    flex-grow: 1;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    position: absolute;
    z-index: 2;
}

.avatar-1{
  top: 28px;
  left: 164px;
  position: absolute;
  width: 32px;
  height: 32px;
}

.avatar-2{
  top: 98px;
  left: 84px;
  position: absolute;
  width: 32px;
  height: 32px;
}

.avatar-3{
  top: 186px;
  left: 54px;
  position: absolute;
  width: 32px;
  height: 32px;
}

.avatar-4{
  top: 216px;
  left: 196px;
  position: absolute;
  width: 32px;
  height: 32px;
}

.avatar-5{
  top: 148px;
  left: 204px;
  position: absolute;
  width: 32px;
  height: 32px;
}

.oobe-logo{
  position: absolute;
    top: 116px;
    left: 50%;
    transform: translate(-50%);
    width: 64px;
    height: 64px;
    display: flex
;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    background: radial-gradient(72.06% 98.28% at 50% 89.22%, #8566ff33, #8566ff0a), #bab3ff0a;
    box-shadow: inset 0 0 0 1.5px #8566ff3d, 0 4px 4px #00000040, 0 0 16px 2px #bab3ff29 inset;
}

.oobe-grid{
  width: 220px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translate(-50%);
}

.oobe-light1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.oobe-light2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
  z-index: 2;
}

.detection-div{
  isolation: isolate;
    overflow: hidden;
    border-radius: 16px;
    height: 402px;
    position: relative;
    width: 398px;
}

.detection-div-inner{
  border: 1px solid rgba(169, 163, 194, .24);
  background-color: #0a0118;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    position: absolute;
    z-index: 2;
}

.detection-div-grid{
  height: 156px;
    left: 16px;
    pointer-events: none;
    position: absolute;
    top: 16px;
    width: 364px;
    z-index: -1;
}

.card-animation {
  height: 196px;
  margin-bottom: 4px;
  overflow: hidden; /* Ensures anything outside this container is hidden */
  position: relative;
}

.card-animation-mobile {
  height: 196px;
  overflow: hidden; /* Prevents image overflow */
  position: relative;
}

/* This wrapper controls visibility and overflow */
.card-animation-mobile-chart-wrapper {
  overflow: hidden;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 106px;
  z-index: 1;
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 3.98%, #fff 9.11%, #fff 90.63%, rgba(255, 255, 255, 0) 96.3%);
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 3.98%, #fff 9.11%, #fff 90.63%, rgba(255, 255, 255, 0) 96.3%);
}

.card-animation-mobile-chart-inner {
  width: 830.5px; /* Full natural width */
  transition: transform 0.45s cubic-bezier(.6,.6,0,1), opacity 1s cubic-bezier(.6,.6,0,1);
}

.card-animation-mobile-chart-inner img {
  width: 830.5px;
  height: 106px;
}

/* Hover effect translates the image container, not the image directly */
.detection-div:hover .card-animation-mobile-chart-inner {
  transform: translateX(-465px);
}

/* Optional: The gradient overlay */
.card-animation::before {
  background: linear-gradient(180deg, #0a0118, #0a011800 24.22%, #0a011800 73.85%, #0a0118);
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;
}

.card-animation-mobile-lights{
  height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.card-animation-mobile-lights img {
  transition: .45s cubic-bezier(.6,.6,0,1) opacity, 1s cubic-bezier(.6,.6,0,1) opacity !important;
  height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-animation-mobile-lights img:last-child {
  opacity: 0;
}

.detection-div:hover .card-animation-mobile-lights img:last-child {
  opacity: 1;
}

.detection-content{
  position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    z-index: 5;
}

.card-animation-mobile-high-season{
  background: #0b021733;
  border: 1px solid rgba(255, 255, 255, .05);
  border-radius: 99px;
  display: flex;
  left: 30px;
  padding: 8px 16px;
  top: 25px;
  -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    color: #fff;
    position: absolute;
    transition: .45s cubic-bezier(.6,.6,0,1) transform, .45s cubic-bezier(.6,.6,0,1) opacity;
    z-index: 16;
}

.card-animation-mobile-high-season-item{
  align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 16px;
}

.card-animation-mobile-high-season-item:first-child {
  margin-right: 8px;
}

.card-animation-mobile-high-season-item:first-child:before {
  background-color: #713dff;
}

.card-animation-mobile-high-season-item:before {
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  margin-right: 8px;
  width: 6px;
}

.card-animation-mobile-high-season-item:last-child:before {
  background-color: #faaf46;
}

.card-animation-mobile-high-season-item:before {
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  margin-right: 8px;
  width: 6px;
}

.card-animation-mobile-alert {
  background: #0b021733;
  border: 1px solid rgba(255, 255, 255, .05);
  border-radius: 99px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  bottom: -10px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  color: #fff;
  position: absolute;
  transition: .45s cubic-bezier(.6,.6,0,1) transform, .45s cubic-bezier(.6,.6,0,1) opacity;
  z-index: 16;
}

.card-animation-mobile-high-season-alert{
  align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 16px;
}

.card-animation-mobile-high-season-alert:last-child:before {
  background-color: #da1212;
}

.card-animation-mobile-high-season-alert:before {
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  margin-right: 8px;
  width: 6px;
}

.card-animation-big-popup{
  -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: radial-gradient(66.08% 90.13% at 50% 97.37%, #887dff29, #887dff00), #0b02171a;
    border-radius: 8px;
    color: #fff;
    padding: 8px;
    transition: .45s cubic-bezier(.6,.6,0,1) transform, .45s cubic-bezier(.6,.6,0,1) opacity;
    width: 254px;
    z-index: 20;
}

.card-animation-mobile .card-animation-big-popup {
  left: 118px;
  opacity: 0;
  position: absolute;
  top: 28px;
}

.card-animation-big-popup:before {
  background: linear-gradient(180deg, #a9a3c233, #a9a3c20c), linear-gradient(0deg, #ffffff0d, #ffffff0d);
  border-radius: 8px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}

.card-animation-big-popup-title{
  padding: 0 4px;
}

.card-animation-big-popup-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 24px;
}

.card-animation-big-popup-description{
  margin-bottom: 8px;
    opacity: .4;
}

.card-animation-big-popup-description {
  padding: 0 4px;
}

.card-animation-big-popup-description {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: 16px;
}

.card-animation-big-popup-footer {
  align-items: center;
  background: #ffffff0d;
  border: 1px solid rgba(255, 255, 255, .05);
  border-radius: 4px;
  display: flex
;
  justify-content: center;
  padding: 4px;
  width: 100%;
}

.card-animation-big-popup-description {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: 16px;
}

.card-animation-big-popup-footer-item {
  align-items: center;
  display: flex
;
}

.detection-div:hover .card-animation-mobile .card-animation-big-popup {
  opacity: 1;
  transform: translate(-88px);
}

.detection-div:hover .card-animation-mobile-high-season {
  opacity: 0;
  transform: translate(-48px);
}

.card-animation-big-popup-footer-item-label{
  color: #817b8e;
  margin-right: 4px;
  font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 16px;
}

.card-animation-big-popup-footer-item-value{
  font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 16px;
}

.card-animation-big-popup-footer-item svg {
    margin-right: 4px;
}

.card-animation-big-popup-footer-item:not(:last-child):after {
  background-color: #fff;
  content: "";
  display: block;
  height: 12px;
  margin: 0 12px;
  opacity: .1;
  width: 1px;
}

.money1{
  top: 64px;
  left: 48px;
  width: 138px;
  transform: rotate(-30deg);
  position: absolute;
    height: auto;
    transform-origin: center;
}

.money2{
  width: 122px;
  top: 8px;
  left: 180px;
  transform: rotate(30deg);
  position: absolute;
    height: auto;
    transform-origin: center;
}

.money3{
  top: 16px;
  left: 36px;
  width: 90px;
  transform: rotate(15deg);
  opacity: .8;
  filter: blur(2px);
  position: absolute;
  height: auto;
  transform-origin: center;
}

.money4{
  width: 90px;
  top: 92px;
  left: 204px;
  transform: rotate(-15deg);
  opacity: .8;
  filter: blur(2px);
  position: absolute;
    height: auto;
    transform-origin: center;
}

.moneys{
  width: 172px;
  height: auto;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%);
}

.prediction-grid{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  mix-blend-mode: overlay;
}

.prediction-light1{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 7;
}

.prediction-light2{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 6;
}

.prediction-import{
  position: absolute;
  top: 66px;
  left: 48px;
  height: auto;
  width: 120px;
  z-index: 3;
}

.prediction-files{
  position: absolute;
    top: 40px;
    left: 126px;
    height: auto;
    width: 210px;
    z-index: 5;
}

.prediction-dash{
  position: absolute;
  top: 78px;
  right: 48px;
  height: auto;
  width: 186px;
  z-index: 4;
}

.weather-div{
  width: 552px;
  height: 476px;
  border-radius: 16px;
  position: relative;
}

.weather-div-inner{
  background-color: #0a0118;
  border-radius: 16px;
  display: flex;
  
;
  flex-direction: column;
  flex-grow: 1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  position: absolute;
  z-index: 2;
}

.weather-image{
  width: 100%;
    height: auto;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.guidance-div{
  width: 360px;
    height: 482px;
    border-radius: 12px;
    border: 1px solid rgba(169, 163, 194, .24);
    background: linear-gradient(180deg, #0b021700 22.69%, #16092a33);
    overflow: hidden;
    position: relative;
}

.guidance-div-inner{
  background-color: #0a0118;
    border-radius: 16px;
    display: flex
;
    flex-direction: column;
    flex-grow: 1;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    position: absolute;
    z-index: 2;
    border-radius: 12px;
}

.guidance-visuals{
  position: absolute;
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
}

.guidance-light1{
  width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.guidance-light2{
  width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.guidance-text1{
  top: 73px;
  left: 24px;
  z-index: 2;
  position: absolute;
  width: 272px;
  height: 92px;
}

.guidance-text2{
  top: 205px;
  left: 46px;
  z-index: 1;
  position: absolute;
    width: 272px;
    height: 92px;
}

.analysis-div{
  overflow: hidden;
    
    border-radius: 16px;
    height: 482px;
    width: 360px;
    position: relative;
}

.analysis-div-inner{
  border: 1px solid rgba(169, 163, 194, .24);
  background-color: #0a0118;
  border-radius: 16px;
  display: flex
;
  flex-direction: column;
  flex-grow: 1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  position: absolute;
  z-index: 2;
}


.analysis-light{
  pointer-events: none;
    z-index: 6;
    height: auto;
    width: 100%;
    top: 0;
    position: absolute;
}

.analysis-grid{
  width: 100%;
  height: auto;
  top: 0;
  z-index: 6;
  position: absolute;
  mix-blend-mode: overlay;
}

.analysis-graph{
  left: 0;
    position: absolute;
    height: auto;
    top: 40px;
    width: 100%;
    z-index: 8;
}

.monitoring-div{
  overflow: hidden;
  background: linear-gradient(129.44deg, #a9a3c247 .84%, #a9a3c20e 20.97%);
  border-radius: 12px;
  height: 416px;
  width: 1040px;
  position: relative;
}

.monitoring-div-inner{
  background-color: #0a0118 !important;
    border-radius: 16px;
    display: flex
;
    flex-direction: column;
    flex-grow: 1;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    position: absolute;
    z-index: 2;
    background: linear-gradient(180deg, #0b021700 22.69%, #16092a80);
    border-radius: inherit !important;
}

.monitoring-gfx{
  left: 50%;
    transform: translate(-50%);
    position: absolute;
    height: 132px;
    top: 50px;
    width: 1128px;
    z-index: 8;
}

.monitoring-light1{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  width: 50%;
  height: auto;
  z-index: 8;
}

.monitoring-light2{
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: auto;
  z-index: 9;
}

.monitoring-light3{
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: auto;
  z-index: 10;
}

.monitoring-header{
  z-index: 12;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 999px;
  padding-bottom: 32px;
}

.monitoring-header-img{
  max-width: none !important;
  width: 160% !important;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.gov-light1{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 4;
}

.gov-light2{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
}

.gov-grid{
  width: 358px;
  height: 208px;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 1;
}

.gov-item1:nth-child(1){
  top: 36px;
}

.gov-item1:nth-child(2){
  top: 140px;
}

.gov-item1:nth-child(3){
  top: 244px;
}

.gov-item1{
  z-index: 2;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background: radial-gradient(72.06% 98.28% at 50% 89.22%, #887dff7a, #887dff00), #0b021733;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex
;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1px #bab3ff1f;
}

.rent-now-btn{
  background: radial-gradient(89.06% 89.06% at 50% 100%, #ffffff0a, #fff0 48.41%), #ffffff0d;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 99px;
    min-width: 124px;
    text-align: center;
    transition: all .2s ease;
    white-space: nowrap;
}


/**LANDING PAGE FEATURES GRID CSS **/

.feature-title{
    background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    width: 100%;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
}


/**END PAGE FEATURES GRID CSS **/

.equipment-card-inner{
  background: linear-gradient(180deg, #0b021700, #16092a), #0a0118;
}

.dashboard-header{
  background-color: rgba(255, 255, 255, 0.06);
}

/**DASHBOARD THEME CSS **/

.theme-color{
    --bgexec-1: linear-gradient(135deg, #0c0124 0%, #021529 100%);
    --bgexec-2: rgba(255, 255, 255, .025);
    --bgexec-3: rgba(255, 255, 255, .025);
    --shadowexec-2: 0 4px 12px rgba(0, 0, 0, .12);
    --fillexec-1: rgba(255, 255, 255, .025);
    --fillexec-2: rgba(255, 255, 255, .05);
    --fillexec-3: rgba(255, 255, 255, .075);
    --txtexec-3: rgba(255, 255, 255, .45);
}

.main-dashboard-theme{
  background: var(--bgexec-1) !important;
}

.main-dashboard-popover{
  background: var(--bgexec-1) !important;
  background-color: none !important;
}

.main-sidebar-theme{
  background: var(--fillexec-2) !important;
  backdrop-filter: blur(60px);
  box-shadow: inset -1px 0 0 var(--fillexec-2);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: sticky;
  top: 0;
}

.main-topbar-theme{
  background-color: var(--bgexec-2);
  box-shadow: inset 0 -1px 0 var(--fillexec-2);
}

.main-dashboard-second-part-theme{
  background: var(--bgexec-2) !important;
}

.dashboard-equipment-select{
  box-shadow: inset 0 0 0 1px var(--fillexec-3);
}

.dashboard-select-menu{
  background: var(--bgexec-1) !important;
  border-radius: 8px ;
  box-shadow: inset 0 0 0 1px var(--fillexec-1), var(--shadowexec-2);
  -webkit-backdrop-filter: blur(60px);
  -moz-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px) !important;
}

.dashboard-header-gps{
  box-shadow: inset 0 0 0 1px var(--fillexec-3);
  transition: background-color .2s ease;
}

.equipment-btn:hover{
  background: radial-gradient(89.06% 89.06% at 50% 100%, #ffffff12, #fff0 48.41%), #ffffff14 !important;
}

::placeholder{
  color: rgba(255, 255, 255, .75) !important;
}

::-ms-input-placeholder{
  color: rgba(255, 255, 255, .75) !important;
}

.equipment-input{
  box-shadow: inset 0 0 0 1px var(--fillexec-1) !important;
  transition: all .2s ease;
  align-items: center;
  background-color: var(--fillexec-1) !important;
  border-radius: 8px;
  display: flex;
  padding: 6px;
  position: relative;
  width: 100%;
  border-color: transparent !important;
  border: none !important;
}

.equipment-input:hover{
  box-shadow: inset 0 0 0 1px var(--fillexec-2) !important;
}

.equipment-input:focus{
  box-shadow: inset 0 0 0 1px var(--txtexec-3) !important;
  background-color: transparent !important;
  transition: all .2s ease !important;
  border-color: transparent !important;
  border: none !important;
  outline: none !important;
  outline-offset: unset !important;
}

.dashboard-menu-button:hover{
  background-color: var(--fillexec-1) !important;
}

.image-upload{
    background: radial-gradient(72.06% 98.28% at 50% 89.22%, #887dff7a, #887dff00), #0b021733;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    box-shadow: inset 0 0 0 1px #bab3ff1f;
}

.alert-animation{
  animation: pulse-yellow 2s linear infinite;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 #f4af2980;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px #f4af2900;
  }
  100% {
    transform: scale(.95);
    box-shadow: 0 0 #f4af2900;
  }
}




@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


