@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
}


.effect-font-hero {
    -webkit-text-stroke: .4px #ffffff80;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px -1px 0 hsla(0, 0%, 100%, .2), 1px 1px 0 rgba(0, 0, 0, .1);
}
.effect-font-gradient {
    background: linear-gradient(to right bottom, #fff 30%, hsla(0, 0%, 100%, .5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: unset;
}
@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}
@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}


.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

.cl-providerIcon__github{
  filter: invert(1);
}

.cl-dividerLine{
  height: 1px;
  background-color: #d6ebfd30;
}

.cl-internal-1w172ot{
  background-color: #ddeaf814;
  border-radius: 6px !important;
  border-color: #d6ebfd30 !important;
  border-width: 1px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cl-internal-1w172ot:hover{
  background-color: #d3edf81d;
}

.cl-internal-15di0mo{
  color: #f1f7feb5;
  font-weight: 600;
  font-size: .875rem;
}

.cl-internal-2gzuzc{
  width: 1.125rem;
}

.cl-internal-17wmim4{
  font-size: 1.25rem;
  font-weight: 700;
}

.cl-internal-6slk2t{
  font-size: 1rem;
  line-height: 1.5rem;
}

.cl-internal-oqzvix{
  font-size: .75rem;
  color: #f1f7feb5;
  text-transform: uppercase;
}

.cl-internal-1sbbqks{
  color: #f1f7feb5;
  font-size: .875rem;
  line-height: 1.25rem;
}

.cl-internal-1l5nvfx{
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 2.5rem;
  font-size: .875rem;
}

.cl-internal-1l5nvfx:focus{
  outline-width: 2px;
}

.cl-internal-1l5nvfx[data-variant="default"]{
  border-width: 1px;
  border-color: #d6ebfd30;
}

.cl-internal-1l5nvfx[data-variant="default"]:focus{
  border-width: 1px;
  border-color: #d6ebfd30;
  outline-width: 2px;
  outline-color: #d6ebfd30;
  outline-offset: unset;
  transition: border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}

.cl-internal-b6u84v{
  background-color: #fff;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cl-internal-1dauvpw{
  display: none;
}

.cl-internal-2iusy0{
  font-size: .875rem;
  font-weight: 600;
}

.cl-internal-b6u84v:hover{
  background-color: rgba(255,255,255,0.9);
  transition: background-color 0.2s ease-in-out;
}

.cl-internal-b6u84v[data-variant="solid"][data-color="primary"] {
  box-shadow: none;
}

.cl-internal-b6u84v[data-variant="solid"][data-color="primary"]:focus {
  box-shadow: none;
}

.cl-internal-1c4ikgf{
  opacity: 1;
}

.cl-internal-laksia{
  font-size: 1rem;
}

.cl-internal-hrrh4y{
  font-size: 1rem;
}

.cl-internal-d26w8c{
  width: 32rem;
}

.cl-logoBox{
  height: 60px;
}

.cl-loading{
  color: #fff;
}

.cl-internal-1c7up6r{
  align-items: flex-start !important;
}

.cl-internal-q4tv6p{
  padding: 1rem 2rem;
}

.cl-formButtonPrimary.cl-button{
  color: #000;
}



.cl-internal-r26unt{
  font-size: 1rem;
  line-height: 1.5rem;
}

.cl-internal-1225cty[data-variant="default"]{
  box-shadow: none;
  border-width: 1px;
  border-color: #d6ebfd30;
}

.cl-internal-1225cty{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  max-height: 2.5rem;
}
.cl-internal-1g3zs5z{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  max-height: 2.5rem;
}

.cl-internal-1g3zs5z[data-variant="default"]{
  box-shadow: none;
  border-width: 1px;
  border-color: #d6ebfd30;
}

.cl-internal-1n6yo8n{
  color: #fff;
}

.cl-internal-1n6yo8n:focus{
  box-shadow: none;
}

.cl-internal-1n6yo8n:hover{
  color: rgba(255,255,255,0.9)
}

.cl-internal-1o11va6:hover{
  color: rgba(255,255,255,0.9)
}

.cl-internal-u71u4c{
  background-color: #000;
}

.cl-internal-pnnc37{
  background-color: #111010;
}

.cl-internal-141wpcl{
  opacity: 0.9;
  color: #fff;
}

.cl-internal-1nn89fl{
  opacity: 0.9;
  color: #fff;
}

.cl-internal-zpbffa{
  border-color: #565761;
  border-width: 1px;
  color: rgba(255,255,255,0.9);
}

.cl-internal-1x918gh{
  color: rgba(255,255,255,0.9);
}

.cl-internal-4b57d1[data-variant="outline"]{
  border-width: 1px;
  border-color: #565761;
  color: rgba(255,255,255,0.9);
}

.cl-internal-1ritza{
  background-color: #111010;
}

.cl-internal-qn9szp{
  background-color: #111010;
}

.cl-internal-1pmoz52{
  color: #fff;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}