@tailwind base;
@tailwind components;
@tailwind utilities;


.effect-font-hero {
    -webkit-text-stroke: .4px #ffffff80;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px -1px 0 hsla(0, 0%, 100%, .2), 1px 1px 0 rgba(0, 0, 0, .1);
}
.effect-font-gradient {
    background: linear-gradient(to right bottom, #fff 30%, hsla(0, 0%, 100%, .5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: unset;
}